.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vh;
  pointer-events: none;
  margin-left: 15vh;
  top: 5vh;
  position: relative;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#HeaderList {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  bottom: 85vh;
}

.App-link {
  color: #61dafb;
}
li {
  float: left;
}

#UserLogo {
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  left: 125vh;
  position: relative;
  top: 4vh;
}

#TransactinHistory {
  position: relative;
  bottom: 3vh;
  height: 50vh;
  width: 160vh;
  background: #f2f2f2;
}

.Lista h3 {
  height: 1vh;
  margin-left: 9vh;
}

.divider {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  height: 40px;
  float: left;
  bottom: -4.35vh;
  position: relative;
  left: 5vh;
}

li {
  margin-left: 1vh;
  list-style-type: none;
}

.TransactionInfo {
  color: black;
  left: 0vh;
  position: relative;
}

#container {
  margin-top: 5vh;
  border-radius: 1vh;
}

.Informacion {
  color: white;
  margin-left: 20vh;
}

#InfoContainer {
  position: relative;
  right: -0vh;
  background-color: darkblue;
  height: 10vh;
  width: 155vh;
}

#MarginContent {
  height: 5vh;
  width: 100%;
  left: 10vh;
}

#Name {
  color: black;
  left: 92vh;
  top: 3vh;
  position: relative;
}

.steps {
  position: relative;
  left: 0vh;
  width: 140vh;
  bottom: 20vh;
  height: 80%;
}
